@import "vars";

.accordion-flush {
  margin-top: 90px;
}

.accordion-button--checkout {
  border: 0;
}

.accordion-button--checkout:focus {
  border: 0;
}

.accordion-item {
  width: 100%;
  border-bottom: 1px solid $color_weak;
}


.register-heading--big {
  font-family: $text_font;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  collapse: $color_strong;
}

.register-flex {
  display: flex;
}

.register-info {
  margin: 40px 290px 80px 35px;
}

.register-heading--small {
  font-family: $text_font;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color_strong;
}

.register-text--weak {
  margin-top: 15px;
  font-family: $text_font;
  font-size: 13px;
  font-weight: 500;
  color: $color_weak;
}

.register__radio {
  margin: 35px auto;
}

.register__label {
  font-family: $text_font;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color_strong;
}
.register__label-margin {
  margin-left: 15px;
}
.radio__label {
  display: block;
  margin-top: 20px;
}

.arrow-labels {
  margin-top: 33px;
  margin-bottom: 38px;
}

.arrow-link {
  display: block;
  margin-top: 15px;
}

.fa-angle-double-right {
  font-size: 13px;
  color: $color_weak;
  margin-right: 4px;
}

.register__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  border: 1px solid $color_weak;
  background-color: #ffffff;
}

.register__button-text {
  font-family: $text_font;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color_strong;
}

.log-in-below-margin {
  margin-bottom: 27px;
}

.red {
  color: #ff0d0d;
}

.text-input__label {
  display: block;
}

.register__input {
  margin-top: 16px;
  display: block;
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
}

.red-text {
  margin-top: 22px;
  margin-bottom: 32px;
  font-family: $text_font;
  font-size: 13px;
  font-weight: 600;
  color: #ff0d0d;
}

.log-in-button-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register__button-padding {
  padding-right: 13px;
  display: inline;
}

.forgot-pass {
  font-family: $text_font;
  font-size: 14px;
  font-weight: 600;
  color: $color_strong;
}

.link--weak:hover {
  color: $color_weak;
}

.link--strong:hover {
  color: $color_strong;
}