* {
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(fonts/lato/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
}
.header {

}

.header__content {
    margin: 25px 0;
}

.bran {
    font-family: Lato, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 13px;
}

.d {
    font-weight: 900;
    color: #f16d7f;
}

.item-flex {
    display: flex;
    justify-content: space-between;
}
.item {
    height: 350px;
    width: 350px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    height: 40px;
    width: 100px;
    background-color: darkviolet;
    color: #fff;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    border: 1px solid transparent;
}

.button:hover {
    border: 1px solid darkviolet;
    color: darkviolet;
    background-color: #ccc;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.footer {
    margin-top: 200px;
    height: 100px;
    background-color: #ccc;
}